header{
    background-color: rgb(53, 32, 24);
    color: rgb(80,125,158);
    padding: 25px 10px;
    margin: 25px 0px;
    text-align: center;
}

body{
    background-color: rgb(211,154,107);
    color: rgb(157, 71, 68);
    display: grid;
}

p{
    color: rgb(53, 32, 24);    
}

button{
    background-color: rgb(114, 118, 241);
    color: rgb(53, 32, 24);
    padding: 15px 40px;
    margin: 45px 10px;
    font-size: 15px;
    grid-row-start: 2;
}